In [1]:

print("Hello everyone")

Hello everyone

In [2]:
print(100)

100

In [4]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [3]:
a=10
print(a)

10

In [4]:
type(a)

int

In [5]:
string1 ="hello"

In [6]:
print(string1)

hello

In [7]:
type(string1)

str

In [8]:
a = 9
b = 10
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a % b) 
print(a ** b)

19
-1
90
0.9
9
3486784401

In [9]:
inc = 9

inc += 1

print(inc)

inc -= 1

print(inc)

10
9

In [10]:
#Logical
print(3 < 4)

print(True and True) 
print(True or False)
print(a!=b) 
print(True and not False)

True
True
True
True
True

In [11]:
small = "i am upper cased"

print(small.upper())



large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

In [12]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [13]:
increment = '4&'
print(increment.rstrip('&'))

4

In [14]:
string2 = '4a'
print(string2.rstrip('a'))

4

In [15]:
start = "      There is space at the start"
print(start)
print(start.lstrip())

      There is space at the start
There is space at the start

In [16]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [17]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [19]:
val = "2 apples"
no_of_apples = val[5] 
print('number of apples is', no_of_apples)

number of apples is l

In [20]:
what = val[3:]
print(what)

pples

In [22]:
#slicing by specifying start and end index
print(val[0:5])

2 app

In [23]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [29]:
print(batch[:-1])

5 oranges 3 monkeys

In [30]:
animals = batch[10:-2]
print(animals)

3 monkeys

In [34]:
nums = '123456789'
even_nums = nums[1::3]
print(even_nums)

258

In [35]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [ ]:
odd_nums_again = nums[ :: 2]

In [36]:
first_name = "Monty"
last_name = 'Python'

In [37]:
name = first_name + " " + last_name
print(name)

Monty Python

In [38]:
age = 30
my_age = ("I am "+ str(age) + " years old")

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list. We can use lists to hold an ordered sequence of values.

In [21]:
initial_list = []

print(initial_list)

[]

In [22]:
DA_languages = ['R','Python', 'SAS', 'Scala', 42]
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42]

In [23]:
print(DA_languages[0])

R

In [25]:
print(DA_languages[1:5]) # Start index: stop index-1

['Python', 'SAS', 'Scala', 42]

In [26]:
print(DA_languages[0:2])

['R', 'Python']

In [28]:
print(DA_languages[-1])

42

In [30]:
print(DA_languages[2:])

['SAS', 'Scala', 42]

In [31]:
print(DA_languages[ : -3])

['R', 'Python']

In [32]:
DA_languages = ['R','Python', 'SAS', 'Scala', 42]

DA_languages.append('Java')

print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

In [33]:
DA_languages.pop()

'Java'

In [34]:
DA_languages.pop(0) 
print(DA_languages)

['Python', 'SAS', 'Scala', 42]

In [35]:
DA_languages.pop(1)
print(DA_languages)

['Python', 'Scala', 42]

In [36]:
DA_languages.append('R')
DA_languages.remove('Python')
print(DA_languages)

['Scala', 42, 'R']

In [37]:
print(DA_languages.append('R'))

None

In [38]:
new_list = DA_languages



DA_languages.append('Java')
print(new_list)

['Scala', 42, 'R', 'R', 'Java']

In [ ]:
a_sentence = "Hi all, this is to inform you that I'm not well today."

In [ ]:
words_in_sentence = a_sentence.split() 
print(words_in_sentence)

In [ ]:
a_mail = "Hi all, this is to inform you that I'm not well today. I won't be coming to office, but I'm available on call. Thanks."

In [ ]:
sentences_in_mail = a_mail.split('.')
print(sentences_in_mail)
print(type(sentences_in_mail))

In [ ]:
mail = " ".join(sentences_in_mail)
mail1= "-".join(sentences_in_mail)

print(mail)
print(mail1)
print(type(mail))

In [ ]:
mail_new = " & ".join(sentences_in_mail)
print(mail_new)

In [ ]:
my_list = ["Hi","Hello"]
print(my_list*4)

In [ ]:
print(my_list + my_list)

In [ ]:
nums = [2,6,9,3,2,1]
print(len(nums))

In [ ]:
print(sorted(nums))

In [ ]:
print(max(nums))

In [ ]:
print(min(nums))

In [ ]:
nest = [[1, 2, 3, 4], [ 5, 6, 7], [8, 9, 10]]

print(nest[2])

In [ ]:
print(nest[2][1])

Tuples

Tuples are another way to combine different values.

The combined values can be of different types.

Like lists, they have a well-defined ordering and can be indexed.

To create a tuple in Python, use round brackets instead of square brackets

In [ ]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)

print(first_tuple[2])

In [ ]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

In [ ]:
new_tuple[1] = 13.8877  # We can't change the elements in tuple list

Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string. To define a dictionary, equate a variable to { } or dict()

In [ ]:
empty_dictionary = {}

print(type(empty_dictionary))

In [ ]:
bio_data = {'Name': 'Bob Marley', 'Age':'Thirty Five', 'Height':'5.6 ft', 'Hobby': 'Music','Place':'Hyderabad'}

print(bio_data)

In [ ]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 }

In [ ]:
hobby = bio_data['Place']
print(hobby)

In [ ]:
age = bio_data['Age']
print(age)

In [ ]:
bio_data['Age'] = 36
print(bio_data)

In [ ]:
profession  =  bio_data.get('Age','Not Available')
print(profession)

In [ ]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

In [ ]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

In [ ]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])
country_value=new_dictionary['Country']
print(country_value)

In [ ]:
bio_data.update(new_dictionary)
print(bio_data)

In [ ]:
del bio_data['Songs']
print(bio_data)

In [ ]:
print(len(bio_data))

Conditional Statements

In [ ]:
score = int(input("Enter your test score : "))
passing = 40
distinction = 90

In [ ]:
if score >= distinction:
    print("You're at the top! You’ve earned a distinction!")

if score >= passing and score < distinction:
    print("You have passed!")

if score < passing:
    print("Sorry! You have failed")

In [ ]:
if score==100:
    print("Perfect")
elif  90<=score<100:
    print("Distinction")
elif 65<=score<90:
    print("First Class")
elif 40<=score<65:
    print("Second Class")
else:
    print("Failed")

In [ ]:
# Nested If else conditions 

num = int(input("Enter a number: "))
#enter 24
if num%2==0:
    print("Even")
    if num%4==0:
        print("divisible by 4")
    else:
        print("Not divisible by 4")
else:
    print("Odd")
    if num%3==0:
        print("Divisible by 3")
    else:
        print("Not divisible by 3")

Loops

In [ ]:
for i in range(1,5):
    print(i)

In [ ]:
for i in range(1,100,4):
    print(i)

In [ ]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

In [ ]:
my_string = "Mary had a little lamb"

for n,alphabet in enumerate(my_string):
    print(alphabet, n)

In [ ]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [ ]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

In [ ]:
students_data = {1:['Kesava Gupta', 24] , 2:['Vijay Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Ramesh Kumar',27]}

In [ ]:
for key, val in students_data.items():
    print(key, val[0],val[1])

In [ ]:
for key in students_data.keys():
    print(key)

In [ ]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1
print(count)

Functions in Python

In [ ]:
def square(num):
    out = num**2
    return(out)

In [ ]:
square_val = square(3)
print(square_val)

In [ ]:
def square(num):
    out = num**2
    print(out)

In [ ]:
def factorial(n):
    if n>1:
        return n*factorial(n-1)
    else:
        return n

fact = factorial(10)
print(fact)

In [ ]:
def addition_numbers(*args):
    print(args)
    return(sum(args))

In [ ]:
print(addition_numbers(4,5,6,7,8,9))
print(addition_numbers(1,2))